
.menu-link-item {
    width: max-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-info {
    display: flex;
}

.menu-overlay {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}